
body{
    margin:0;
    text-align: center;
    font-family:'Indie Flower', cursive;
    background-color:rgb(255, 136, 0);
}
h1{
    color:#66bfbf;
    font-size:81px;
    font-family: 'Gloria Hallelujah', cursive;
}
h2{
    color: #66bfbf;
    font-size: 30px;
}
.top-cloud{
    position: absolute;
    font-size:30%;
    top:5%;
}
.bottom-cloud{
    position: absolute;
    font-size: 30%;
    bottom: 50%;
}
.pro{
    text-decoration: underline;
}

.middle-container{
    margin: 100px 0;;
}
.profile-img{
    border-radius: 50%;
}